<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<!-- Include Bootstrap CSS from CDN -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="{{ asset('icon.png') }}"/>

		{% block stylesheets %}
			{# You can include additional stylesheets here if needed #}
		{% endblock %}

		{% block javascripts %}
			{# You can include additional scripts here if needed #}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

		<!-- Include Bootstrap JavaScript from CDN (at the end of body) -->
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
